{% load static  wagtailimages_tags unblocklife_tags %}
<div class="h-10"></div> 
<footer class="pt-40">
<div class="container mx-auto px-3">
<div class="pb-20">
<div class="flex flex-wrap">
<div class="px-3 w-full md:w-1/2 lg:w-1/4">
<div class="mb-8">

{% unblocklifelogo  as logo %}
<a href="index.html" class="inline-block mb-4">
{% image  logo.logo  fill-128x128 class="w-12" %}
</a>
<p class="text-sm text-gray-600 leading-relaxed mb-5">
“Things that have never happened before happen all the time.”
― Morgan Housel, The Psychology of Money
</p>
<ul class="flex flex-wrap">
<li>
<a href="#0" class="flex items-center justify-center w-8 h-8 text-gray-700 mr-2 hover:text-white hover:bg-indigo-700 rounded transition duration-200">
<i class="lni lni-facebook-filled"></i>
</a>
</li>
<li>
<a href="#0" class="flex items-center justify-center w-8 h-8 text-gray-700 mr-2 hover:text-white hover:bg-blue-400 rounded transition duration-200">
<i class="lni lni-twitter-filled"></i>
</a>
</li>
<li>
<a href="#0" class="flex items-center justify-center w-8 h-8 text-gray-700 mr-2 hover:text-white hover:bg-red-500 rounded transition duration-200">
<i class="lni lni-instagram-filled"></i>
</a>
</li>
<li>
<a href="#0" class="flex items-center justify-center w-8 h-8 text-gray-700 mr-2 hover:text-white hover:bg-blue-600 rounded transition duration-200">
<i class="lni lni-linkedin-original"></i>
</a>
</li>
</ul>
</div>
</div>

<div class="px-3 w-full md:w-1/2 lg:w-1/4">
<div class="mb-8 pt-3">
<h3 class="text-lg mb-5 font-semibold text-gray-800">
Products
</h3>
<ul>
<li class="mb-3">
<a href="/courses" class="text-gray-600 text-sm hover:text-red-500">
Training
</a>
</li>
<li class="mb-3">
<a href="/contact" class="text-gray-600 text-sm hover:text-red-500">
Personal Interactions
</a>
</li>
<li class="mb-3">
<a href="/contact" class="text-gray-600 text-sm hover:text-red-500">
Finance Tips
</a>
</li>
</ul>
</div>
</div>

<div class="px-3 w-full md:w-1/2 lg:w-1/4">
<div class="mb-8 pt-3">
<h3 class="text-lg mb-5 font-semibold text-gray-800">
Resources
</h3>
<ul>
<li class="mb-3">
<a href="/privacy-policy" class="text-gray-600 text-sm hover:text-red-500">
Privacy Policy
</a>
</li>
<li class="mb-3">
<a href="/contact" class="text-gray-600 text-sm hover:text-red-500">
Fee Schedule
</a>
</li>
</ul>
</div>
</div>

<div class="px-3 w-full md:w-1/2 lg:w-1/4">
<div class="mb-8 pt-3">
<h3 class="text-lg mb-5 font-semibold text-gray-800">
Contact
</h3>
<ul>
<li class="mb-4">
<a href="/" class="text-gray-600 text-sm hover:text-red-500 inline-flex">
<i class="lni lni-map-marker text-xl pr-2"></i>
<span>
Rukmini plaza,
Laxmi Chouk,
Hinjewadi,
Pune

Pin: 411033
</span>
</a>
</li>
<li class="mb-4">
<a href="#0" class="text-gray-600 text-sm hover:text-red-500 inline-flex">
<i class="lni lni-phone text-xl pr-2"></i>
<span> +91 7385 530 667 </span>
</a>
</li>
<li class="mb-4">
<a href="#0" class="text-gray-600 text-sm hover:text-red-500 inline-flex">
<i class="lni lni-envelope text-xl pr-2"></i>
<span> info@unblocklife.in </span>
</a>
</li>
</ul>
</div>
</div>

</div>
</div>

<div class="py-6 text-center border-0 border-t border-gray-300">
<p class="text-sm text-gray-600">
Designed and Developed by
<a href="https://dravate.com" rel="nofollow" class="text-red-500">
Sarathi Dravate Technologies LLP
</a>
</p>
</div>
</div>
</footer>
